<%- include('../header'); -%> <%- include('../navbar'); -%>

<div class="container" style="padding-bottom: 30px; text-align: center">
  <h1><%= drummerName.charAt(0).toUpperCase() + drummerName.slice(1) %></h1>
  <p>List of Active Reservations</p>
</div>

<div class="container">
  <table class="table">
    <thead class="thead-custom">
      <tr>
        <th scope="col">Reservation Date</th>
        <th scope="col">Submitted on</th>
      </tr>
    </thead>
    <tbody>
      <% reservations.forEach(reservation => { %>
      <tr>
        <td>
          <%= new Date(reservation.date).toLocaleString('en-US', {
          day:'numeric', month: 'short', year: 'numeric'}) %>
        </td>
        <td>
          <%= new Date(reservation.created_at).toLocaleString('en-US', {
          day:'numeric', month: 'short', year: 'numeric', hour: 'numeric',
          minute: 'numeric', hour12: true }) %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../footer'); -%>
