<%- include('../header'); -%> <%- include('../navbar'); -%>

<div class="container">
  <% reservations.forEach(reservation => { %>
  <p>
    <%= reservation.date %>
    <br />
    <%= reservation.created_at %>
  </p>
  <% }) %>
</div>

<%- include('../footer'); -%>
